@model EventVM


@await Component.InvokeAsync("Header", Model)


<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">

            @foreach (Event item in Model.Events)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-controller="event" asp-action="eventdetail" asp-route-id="@item.Id">
                                <img src="~/assets/img/event/@item.Image" alt="event">
                                <div class="course-hover">
                                    <a asp-controller="event" asp-action="eventdetail" asp-route-id="@item.Id" ><i class="fa fa-link"></i></a>
                                </div>
                            </a>
                            <div class="event-date">
                               @Html.Raw(item.EventDate)
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-controller="event" asp-action="eventdetail" asp-route-id="@item.Id">@item.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @item.Date </li>
                                <li><span>venue</span> @item.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="eventdetail" asp-route-id="@item.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
</div>



