@model EventDetailVM


<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img style="width: 100%;" src="~/assets/img/event/@Model.Event.Image" alt="event-details">
                        <div class="event-date">
                            @Html.Raw(Model.Event.EventDate)
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Event.Title</h2>
                        <ul>
                            <li><span>time : </span>@Model.Event.Date</li>
                            <li><span>venue : </span>@Model.Event.Venue</li>
                        </ul>
                        @foreach (EventDescription description in Model.Event.EventDescriptions)
                        {
            <p>@description.SimpleDescription</p>}
                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            @foreach (EventSpeaker speaker in Model.Event.EventSpeakers)
                            {
                <div class="single-speaker">
                    <div style="width: 100%;" class="speaker-img">
                        <img style="width: 32%;" src="~/assets/img/teacher/@speaker.Teacher.Image" alt="speaker">
                    </div>
                    <div style="display: flex;position:relative;left:-67%;" class="speaker-name">
                        <div class="spk-name">
                            <h5 style="min-width:155px;">@speaker.Teacher.Fullname</h5>
                            <p>@speaker.Teacher.Rank </p>
                        </div>

                    </div>
                </div>}


                        </div>
                    </div>
             
                </div>
            </div>

        </div>
    </div>
</div>
