@model Course


<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div style="margin-left: -5rem;" class="courses-details">
                    <div class="courses-details-img">
                        <img style="width: 60%;" src="~/assets/img/course/@Model.Image" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Title</h2>
                        <p>@Model.TitleDesc</p>
                               
                                <h3>ABOUT COURSE</h3>
                                <p>@Model.AboutDesc</p>
                            
                         
                                <h3>HOW TO APPLY</h3>
                                <p>@Model.ApplyDesc</p>
                            
                                <h3>CERTIFICATION</h3>
                                <p class="margin">@Model.CertificationDesc</p>
                                <p>@Model.LastDesc</p>                  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="width: 984px; margin-top: 1rem; margin-left: 3rem;" id="right-dtl" class="right-dtl">
                    <div class="course-details-right">
                        <h3>COURSE FEATURES</h3>
                        <ul>
                            <li>starts <span>@*@Model.CourseStarts.ToString("d, MMMe yyyy")*@</span></li>
                            <li>duration <span>@Model.CourseDuration</span></li>
                            <li>class duration <span>@Model.CourseClassDuration</span></li>
                            <li>skill level <span>@Model.CourseSkillLevel</span></li>
                            <li>language <span>@Model.CourseLanguage</span></li>
                            <li>students <span>@Model.CourseStudents</span></li>
                            <li>assesments <span>@Model.CourseAssesments</span></li>
                        </ul>
                        <h3 class="red">course fee @Model.FEE</h3>
                    </div>
                </div>
            </div>
        </div>
</div>