@model IEnumerable<Course>

@{
    ViewData["Title"] = "Index";
    int counter = 1;
}


<div class="row justify-content-between mt-5">
    <div class="col-lg-2">
        <h1 style="margin-left: 44px;" class="h3 mb-4 text-gray-800">Courses Page</h1>
    </div>
    <div class="col-lg-1">
        <a style="margin-left: -2.3rem;" asp-area="manage" asp-controller="course" asp-action="create" class="btn btn-primary">Create</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table @*style="width: 93%; margin-left: auto; margin-right: auto;"*@ class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Tag</th>
                    <th>Created At</th>
                    <th>Setting</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Course course in Model)
                {
                    <tr>
                        <td>@counter</td>
                        <td>
                            <img width="100" src="~/assets/img/course/@course.Image" alt="Alternate Text" />
                        </td>
                        <td>@course.Title</td>
                        <td>@(course.CourseTags != null && course.CourseTags.Count() > 0 ? String.Join(",", course.CourseTags.Select(b=>b.Tag.Name)) : "")</td>
                        <td>@course.CreatedAt?.ToString("d, MMM yyyy")</td>
                        <td>
                            <div style="word-spacing: 16px;" class="buttons">
                                <a style="width: 21.8%;" class="btn btn-warning" asp-area="manage" asp-action="update" asp-route-id="@course.Id">Update</a>
                                <a style="width: 21.8%;" class="btn btn-danger" asp-area="manage" asp-action="delete" asp-route-id="@course.Id">Delete</a>
                                <a style="width: 21.8%;" class="btn btn-primary" asp-area="manage" asp-action="detail" asp-route-id="@course.Id">Detail</a>
                            </div>

                        </td>
                    </tr>

                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>

